.header-wrapper {
    background-color: #6096B4;
    color: #FFFFFF;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    font-size: 3rem;
}

.header-wrapper a {
    text-decoration: none;
    color: #FFFFFF;
}