.home-wrapper .form {
    width: 50%;
}

.home-wrapper .form {
    margin: 5rem auto;
}

.home-wrapper .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-wrapper .form .submit-button-wrapper {
    width: 10rem;
    margin: 0 auto;
}

.home-wrapper .form textarea {
    background-color: #EEE9DA;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
    color: #212121;
    resize: none;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home-wrapper .form textarea::-webkit-scrollbar {
    width: 0.3rem;
}

.home-wrapper .form textarea::-webkit-scrollbar-track {
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.home-wrapper .form textarea::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #93BFCF; 
}

.home-wrapper .form input[type="submit"] {
    border: none;
    background-color: #93BFCF;
    padding: 1rem;
    box-sizing: border-box;
    display: block;
    margin-top: 1rem;
    border-radius: 0.5rem;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    width: 10rem;
    font-family: 'Paytone One', sans-serif;
}

.home-wrapper .form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #74a0b1;
    transition: background-color ease 1s;
}

/* Mobile */
@media only screen and 
(min-width: 280px) and 
(max-width: 480px){
    .home-wrapper .form {
        width: 90%;
    }    
}

/* Tablet */
@media only screen and 
(min-width: 481px) and 
(max-width: 820px){
    .home-wrapper .form {
        width: 90%;
    }
}

/* Desktop */
@media only screen and 
(min-width: 821px) and 
(max-width: 1280px){
    .home-wrapper .form {
        width: 80%;
    }    

}

/* Large Desktop */
@media only screen and 
(min-width: 1281px) {
    .home-wrapper .form{        
        width: 60%;
    }
    
}