.tooltip {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pretty-text {
    width: 50%;
}

.pretty-text {
    margin: 1rem auto;
}

.pretty-text-options {
    position: absolute;
    width: 60%;
    text-align: right;
    box-sizing: border-box;
    padding: 1rem;
}

.pretty-text pre {
    border-radius: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.pretty-text-options button {
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #93BFCF;
    color: #FFFFFF;
}

.pretty-text-options button:hover {
    cursor: pointer;
    background-color: #74a0b1;
    transition: background-color ease 1s;
}

/* Mobile */
@media only screen and 
(min-width: 280px) and 
(max-width: 480px){
    .pretty-text,
    .pretty-text-options {
        width: 90%;
    }    
}

/* Tablet */
@media only screen and 
(min-width: 481px) and 
(max-width: 820px){
    .pretty-text,
    .pretty-text-options {
        width: 90%;
    }
}

/* Desktop */
@media only screen and 
(min-width: 821px) and 
(max-width: 1280px){
    .pretty-text,
    .pretty-text-options {
        width: 80%;
    }    

}

/* Large Desktop */
@media only screen and 
(min-width: 1281px) {
    .pretty-text {
        width: 60%;
    }
    
}